.project__container {
  background-color: var(--light-container-color);
  height:fit-content;
  width: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px rgba(26, 26, 26, 0.5) ;
  margin: 2rem 0 2rem 0;
}

.project__container .row {
  display: flex;
}

.project__container .row .column__1 {
  max-width: 40%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.project__container .row .column__2 {
  background-color: var(--container-color);
  margin: 1rem;
  border-radius: 10px;
  max-width: 60%;
  box-shadow: 4px 4px 5px 0px rgba(26, 26, 26, 0.5) ;
}

.project__container .row .column__2 h2 {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  filter: drop-shadow(2px 3px 1px rgb(0 0 0 / 0.4));
}

.project__container .row .column__2 p {
  padding: 2rem ;
  line-height: 1.5rem;
}

.button__details {
  display: flex;
  justify-content: center;
  margin-top: -1.6rem;
}

.project__container .row .column__2 a {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.img__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 15rem;
  max-width:fit-content;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.img__container img {
  object-fit:contain;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px rgba(26, 26, 26, 0.5) ;
  transition: all .2s ease-in-out;
}


.projects .column__1 .links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.github__button:hover {
  color: aliceblue;
  cursor: pointer;
  transform: scale(1.1);
}

.projects .column__2 .links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projects .column__2 .links .item img{
  height: 30px;
  width:fit-content;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
 }

 .projects .column__2 button {
  margin-bottom: 1rem;
 }

 @media screen and (max-width:992px) {
  .project__container .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project__container .row .column__1 {
    max-width: fit-content;
  }

  .project__container .row .column__2 {
    max-width: fit-content;
  }

  .projects .column__1 .links {
    justify-content: center;
  }

  .projects .column__2 .links {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:repeat(auto-fill , 40px);
    margin-left: 1rem;
    margin-right: 1rem;
    /* gap:1rem; */
  }

  .projects .column__2 .links h3 {
    display: none;
  }

  .projects .column__2 .links .item img{
    width: auto;
  }

  .img__container {
    min-height: fit-content;
  }

 }