.about picture img {
  mix-blend-mode:lighten;
  min-width: 20rem;
  transform: rotate(4deg);
  border-radius: 25px;
  box-shadow: 0 5px 5px 0 rgba(45, 20, 70, 0.2), 0 2px 5px 0 rgba(143, 103, 189, 0.491);
  margin-top: 3rem;
}

.about .row {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}


@media screen and (max-width:768px) {
  .about .row {
    flex-direction: column;
  }

  .about .row picture {
    display: flex;
    justify-content: center;
    
  }

  .about picture img {
    
  }

  .about .column {
    text-align: center;
    align-items: center;
  }
}