/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


/* Variables CSS */
:root {
  --header-height: 3rem;

  /* Colors */
  --title-color: #e4e4e4;
  --subtitle-color: #7557ac;
  --title-color-light: #5c5c5c;
  --text-color: #9081ac;
  --body-color: #201f1f;
  --transparent-body-color: #201f1fe8; 
  --container-color: #252525ef;
  --light-container-color: #44434680;

  
  /* Fonts & Tipography */
  --body-font: 'Roboto Condensed', sans-serif;

  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /* Font weights */
  --font-normal: 300;
  --font-medium: 400;
  --font-bold: 700;

  /* Margins*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-6: 6rem;

  /* Z-Index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

  /* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}



button {
  cursor: pointer;
  border: none;
  outline: none;
  width: 8rem;
  height: 2.5rem;
  font-weight: var(--font-bold);
  color: white;
  background-color: var(--subtitle-color);
}

button:hover {
  transition: 0.3s ease;
  color: var(--subtitle-color);
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

/* Reusable CSS Classes */
.section {
  margin-top: var(--mb-6);
  margin-bottom: var(--mb-6);
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: 1rem;
}

.section__subtitle {
  display: block;
  font-size: var(--h3-font-size);
  color: var(--subtitle-color);
  margin-bottom: 1rem;
}


/* Layout */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.custom-shape-divider-top {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top svg {
  /* position: relative; */
  display: block;
  width: calc(210% + 1.3px);
  height: calc(7vw + 25px);
}

.custom-shape-divider-top .shape-fill {
  fill: #7557AC;
}

.custom-shape-divider-bottom {
  position: relative;
  bottom: 2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom svg {
  /* position: relative; */
  display: block;
  width: calc(210% + 1.3px);
  height: calc(7vw + 25px);
}

.custom-shape-divider-bottom .shape-fill {
  fill: #7557AC;
}

/* Breakpoints */
/* LARGE  */
@media screen and (max-width:992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

/* MEDIUM */
@media screen and (max-width:768px) {
  .section h1, .section h2{
    text-align: center;
  }
  
}

@media screen and (max-width:576px) {
  
}

/* SMALL */
@media screen and (max-width:350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}